.gameTopHeader {
    padding-bottom: 15px;
}

.emphasis {
    text-decoration: none;
    font-weight: 800;
}

.gameTitleHeader {
    border-top: 8px solid #FFB442;
    padding-top: 10px;
    font-size: 13px;
}

#gamedescr {
    text-align: justify;
    background-color: #FFB442;
    border-radius: 4px;
    border: 1px dotted #252525;
    padding: 20px;
}

#gametitle  {
    text-align: center;
}

#gametitle {
    margin-top: 15px;
}

#gamehr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.content {
    font-size: 20px;
    text-align: center;
}

#guessBlanks {
    font-size: 50px;
    margin: 40px 0 30px 0;
}

.jumbleGame {
    text-align: center;
}

.wordCol {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px dotted #FFB442;
    text-transform: uppercase;
}

.jumbleform {
    margin-bottom: 5px;
    text-align: center;
}

.checkBtn, #wordSearchBtn {
    color: #252525;
    background: #FFB442;
    font-weight: 600;
}

.checkBtn:hover,
.checkBtn:visited,
.checkBtn:focus,
.checkBtn.focus,
.checkBtn.active.focus, 
.checkBtn.active:focus, 
.checkBtn.active:hover, 
.checkBtn:active.focus, 
.checkBtn:active:focus, 
.checkBtn:active:hover,
#wordSearchBtn:hover,
#wordSearchBtn:visited,
#wordSearchBtn:focus,
#wordSearchBtn.focus,
#wordSearchBtn.active.focus, 
#wordSearchBtn.active:focus, 
#wordSearchBtn.active:hover, 
#wordSearchBtn:active.focus, 
#wordSearchBtn:active:focus, 
#wordSearchBtn:active:hover
 {
    background: rgb(255, 179, 65);
}

.correct {
    border: 1px solid green;
    color: #fff;
}

.incorrect {
    border: 1px solid red;
}

.btnCorrect {
    background-color: green;
    pointer-events: none;
}

.btnIncorrect {
    background-color: red;
}

.modal-header .close {
    margin-top: -30px;
}

.gamewinmodalbody {
    padding-bottom: 20px;
}

.searchdiv {
    padding-top: 15px;
    text-align: center;
}

#wordInput {
    text-align: center;
}

#lookup {
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* WORDSEARCH */

.boxWS  {
    font-size: 32px;
    /* background-color: #f8f8f8; */
    border: 1px solid #FFB442;
    color: #252525;
    width: 65px;
    height: 65px;
    text-align: center;
    position: relative;
    float: left;
    cursor: default;
}

.boxWS:hover:not(.flashWrong) {
background-color: #FFB442;
}

.topleft {
border-top-left-radius: 4px;
}

.topright {
border-top-right-radius: 4px;
}

.bottomleft {
border-bottom-left-radius: 4px;
}

.bottomright {
border-bottom-right-radius: 4px;
}

.highlight {
border: 2px solid green;
text-shadow: 2px 2px 4px #888;
}

.flashWrong {
background-color: #d44b4b;
}

.wscorrect   {
background-color: #82d682;
text-shadow: 2px 2px 4px #888;
border: 2px solid green;
}

.foundWords { 
border:solid 1px #252525;
border-radius: 4px;
padding-top: 5px;
padding-bottom: 5px;
font-size:42px;
overflow: auto; 
text-align: center;
font-size: 16px;
}

.wrap {
height: auto; 
/* overflow:auto; */
}

.fadedText{
color:#888;
}

.greenText{
color:green;
}

.wsRow {
text-align: center;
overflow: hidden;
}

.wsContainer {
text-align: center;
}

.wsContainer, .wsGame {
text-align: center;
min-width: 520px;
padding-bottom: 15px;
}

.wsGame {
border-radius: 4px;
}

.wsHeader {
border-top: 8px solid #FFB442;
padding-top: 10px;
font-size: 16px;
text-align: center;
margin-bottom: 10px;
}

