.container{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.flag{
    width:100%
}
.searchdiv{
    border: 3px solid blue;
}

.boxWS  {
        font-size: 48px;
        border: 1px solid black;
        height:72px;
        text-align: center;}



.highlight {background-color: salmon;}
.correct   {background-color: lightblue;}